<?xml version="1.0"?>
<launch>
    <include file="$(find ros_utils)/launch/20230527.launch"/>

    <!-- darknet_ros -->
    <include file="$(find darknet_ros)/launch/dkan.launch" />

    <!-- point_cloud_object_detector_node -->
    <include file="$(find point_cloud_object_detector)/launch/point_cloud_object_detector.launch" >
        <arg name="is_debug"      default="true" />
        <arg name="is_pcl_tf"     default="false" />
        <arg name="is_clustering" default="true" />
        <arg name="is_sampling"   default="true" />
        <arg name="use_mincut"    default="false" />
        <arg name="sampling_num"  default="100000" />
        <arg name="sampling_ratio"  default="0.3" />
        <arg name="min_cluster_size"  default="30" />
        <arg name="use_img_msg"   default="true" />
        <arg name="hz"            default="10" />
    </include>

    <!-- object_identifier_node -->
    <include file="$(find object_identifier)/launch/object_identifier.launch" >
        <arg name="is_id_debug"      default="true" />
        <arg name="hz"               default="10" />
        <arg name="object_distance_threshold" default="0.1" />
        <arg name="map_frame_id"     default="map" />
        <arg name="base_link_frame_id" default="base_link" />
        <arg name="camera_frame_id"  default="base_link" />
    </include>

    <!-- tf -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_base_link" args="0 0 0 0 0 0 map base_link 10" />

</launch>