<?xml version="1.0"?>
<launch>
    <include file="$(find ros_utils)/launch/test_bag_play.launch"/>

    <!-- darknet_ros -->
    <include file="$(find darknet_ros)/launch/dkan.launch" >
        <arg name="output" default="log" />
    </include>

    <!-- point_cloud_object_detector_node -->
    <include file="$(find point_cloud_object_detector)/launch/point_cloud_object_detector.launch" >
        <arg name="camera_frame_id" default="front_cam_color_optical_frame" />
        <arg name="is_debug"      default="true" />
        <arg name="is_pcl_tf"     default="false" />
        <arg name="is_clustering" default="true" />
        <arg name="is_sampling"   default="true" />
        <arg name="use_mincut"    default="false" />
        <arg name="sampling_num"  default="100000" />
        <arg name="sampling_ratio"  default="0.3" />
        <arg name="min_cluster_size"  default="30" />
        <arg name="use_img_msg"   default="true" />
        <arg name="hz"            default="10" />
    </include>

    <!-- object_identifier_node -->
    <include file="$(find object_identifier)/launch/object_identifier.launch" >
        <arg name="is_id_debug"      default="true" />
        <arg name="use_visualization" default="true" />
        <arg name="use_database"      default="false" />
        <arg name="use_existing_vocabulary" default="true" />
        <arg name="use_existing_database" default="true" />
        <arg name="save_vocabulary"   default="true" />
        <arg name="save_database"     default="true" />
        <arg name="hz"               default="10" />
        <arg name="tracking_frame_num" default="8" />
        <arg name="tracking_threshold_num" default="3" />
        <arg name="object_distance_threshold" default="0.2" />
        <arg name="map_frame_id"     default="map" />
        <arg name="base_link_frame_id" default="base_link" />
        <arg name="camera_frame_id"  default="front_cam_color_optical_frame" />
        <arg name="reference_images_path" default="$(find object_identifier)/reference_data/test/" />
    </include>

    <!-- tf -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_base_link" args="0 0 0 0 0 0 1 map base_link" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera" args="-0.22 0 0.72 0 0 0 1 base_link front_cam_link" />
    <!-- <include file="$(find ros_utils)/launch/rosbag_tf_mono.launch" >
        <arg name="publish_pose" default="true" />
        <arg name="pose_in_remap" default="amcl_pose" />
        <arg name="odom_in_remap" default="odom" />
        <arg name="pose_out_remap" default="robot_pose" />
        <arg name="map_frame_id" default="map" />
        <arg name="base_link_frame_id" default="base_link" />
        <arg name="laser_frame_id" default="laser" />
        <arg name="camera_frame_id" default="front_cam_color_optical_frame" />
    </include> -->

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find object_identifier)/config/rviz/object_tracking_test.rviz" />

</launch>